[Desktop Entry]
Type=Application
Name=SystemMonitor
Exec=/home/jyu/apro/SystemMonitor/bin/SystemMonitor
Icon=/home/jyu/apro/SystemMonitor/res/images/logo64.ico
Terminal=false
X-GNOME-SingleWindow=true