[Desktop Entry]
Type=Application
Name=SystemMonitor
#Exec=/home/jyu/apro/SystemMonitor/SystemMonitor
Exec=SystemMonitor %u
Icon=/home/jyu/apro/SystemMonitor/res/images/logo64.ico
Terminal=false
X-GNOME-SingleWindow=true