SystemMonitorApp{
    padding:0px;
    margin:0px;
    border: 2px solid red;
    border-radius:10px;
    background-image: url(../res/images/logo64.ico);
}
QLabel#label_up,QLabel#label_up_speed,
QLabel#label_down,QLabel#label_down_speed,
QLabel#label_cpu,QLabel#label_cpu_usage_rate,
QLabel#label_memory,QLabel#label_memory_usage_rate
{
    color: green;
    font-size:12pt;
}